.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 40px 0 40px;
  width: 60%;
}
.list-block {
  padding: 16px 6px 0 6px;
  // width: 16.666666666666664%;
  width: 25%;

  p {
    font-family: Helvetica;
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 14px;
    cursor: pointer;
  }
  a {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    font-size: 1.4rem;
    line-height: 20px;
    cursor: pointer;
    padding: 0;
  }
}
