@import "normalize.css";
// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --default-layout-height: 60px;
  --default-layout-width: 1200px;
  --negative-width-logo: 70px;
  --negative-height-userMenu: -36px;
  --negative-padding-left-header: -36px;
  --background-color: #f5f5f5;
  --background-color-menu: #fff;
  --white: #fff;
  --black: #000;
  --text-color: #000;
  --text-action-signin: rgb(117, 117, 117);
  --text-menu-color: #757575;
  --hover-search: #e5e5e5;
  --outer-img-button: #111111;
  --inner-img-button: #ffffff;
  --hover-white-button: #b2b2b2;
  --hover-black-button: #757575;
  --warning-color: #d30005;
  --text-color-subtitle: #707072;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  // font-family: "Noto Sans", sans-serif;
  font-family: "Helvetica", sans-serif;
}

button,
input,
[tabinex] {
  outline: none;
  border: none;
  background-color: transparent;
}
li {
  list-style-type: none;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
// Font embedded
@font-face {
  font-family: Helvetica;
  src: url("/assets/fonts/HelveticaNowText.woff2");
  font-weight: 400;
}
@font-face {
  font-family: Helvetica;
  src: url("/assets/fonts/HelveticaNowDisplayMedium.woff2");
  font-weight: 600;
}
@font-face {
  font-family: Helvetica;
  src: url("/assets/fonts/HelveticaNowTextMedium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: Nike-Futura;
  src: url("/assets/fonts/Nike-Futura-ot-300.woff2");
  font-weight: 400;
}
@font-face {
  font-family: Arial, Helvetica, sans-serif;
  src: url("/assets/fonts/Helvetica Neue Medium Extended.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Nike;
  src: url("/assets/fonts/nike-glyphs.woff");
  font-weight: 500;
}
