.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.containter {
  width: 460px;
  h1 {
    height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 12px;
  }
}
.logos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
  gap: 10px;
}
.logo-nike {
  //   height: 140px;
  width: 56px;
}
.logo-jordan {
  height: 48px;
  width: 48px;
}
.stored-email {
  display: flex;
  align-items: center;
  min-height: 24px;
  margin-bottom: 24px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  span {
    display: flex;
    align-items: center;
    height: 24px;
    padding-right: 5px;
  }
}

.warning {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  box-sizing: border-box;
  color: rgb(17, 17, 17);
  gap: 12px;
  font-size: medium;
  line-height: 24px;
  margin-bottom: 15px;
  padding: 10px 16px;
  vertical-align: middle;
  width: 100%;
}
// Password
.password {
  min-height: 84px;
  padding-top: 8px;
}
.container-password {
  position: relative;
  display: flex;
  align-items: center;
  width: 460px;
  height: 56px;
  border: solid 1px #707072;
  border-radius: 8px;

  input {
    font-family: Helvetica;
    padding: 16px 16px 16px 12px;
    width: 100%;
    height: 56px;
    width: 412px;
    font-size: 16px;
    color: #111111;
  }
  .label-password {
    font-family: Helvetica;
    line-height: 700;
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 8px;
    padding: 0 4px;
    transform: translateY(-50%);
    color: #707072;
  }

  .show-password {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    &::after {
      content: " ";
      position: absolute;
      z-index: -1;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: var(--background-color);
      transform: scale(0);
    }
    &:hover::after {
      transform: scale(1);
      transition: all 0.3s ease-in-out;
    }
  }
  .show-icon {
    // margin-right: 12px;
  }
}

.recover-password {
  color: rgb(117, 117, 117);
  a {
    text-decoration: underline;
  }
}

.support-container {
  padding: 4px 12px 0 12px;
  label {
    color: var(--warning-color);
    font-size: 12px;
  }
}

.input-focused {
  .label-password {
    left: -2px;
    line-height: 16px;
    color: #111111 !important;
    transform: scale(0.75) translateY(-48px) !important;
    background-color: #fff;
    padding: 0 4px !important;
    transition: all 0.25s;
  }
}
.input-blurred {
  // border: solid 1px var(--warning-color) !important;
  .label-password {
    color: #707072 !important;
    transition: all 0.25s;
    // transform: scale(1) translateY(-50%) !important;
    // padding-left: 12px !important ;
  }
}
.input-required {
  border: solid 1px var(--warning-color) !important;
  // transition: all 0.25s;
  .label-password {
    color: var(--warning-color) !important;
    transition: all 0.25s !important;
  }
}
.container-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
