.wrapper {
  width: 20%;
  padding-right: 8px;
}
.product-img {
  width: 100%;
  height: 237px;
  object-fit: cover;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  margin-top: 12px;
  // overflow: hidden;

  p {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Số dòng bạn muốn hiển thị trước khi sử dụng ellipsis */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-wrap: wrap;
    text-overflow: ellipsis;
  }
}
.name {
  font-size: 14px;
}
.desc {
  font-size: 14px;
}
.price {
  margin-top: 12px;
}
